body {
  height: 100vh;
  background-color: rgb(91, 78, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#board {
  display: flex;
}

.cell {
  height: 3.5vh;
  width: 3.5vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-border-radius {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.left-border-radius {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.top-border-radius {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.bottom-border-radius {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.fragment {
  border-radius: 6px;
}

.gameplay-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 20px;
  text-align: center;
  padding: 10px;
  width: 70px;
  height: 70px;
}

.center-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reset-button {
  font-size: 20px;
  height: 50px;
  width: 90px;
}