body {
  height: 100vh;
  background-color: rgb(90, 90, 90);
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#board {
  display: flex;
}

.cell {
  height: 3.5vh;
  width: 3.5vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-border-radius {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-border-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.top-border-radius {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.bottom-border-radius {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fragment {
  border-radius: 10px;
}

.gameplay-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 15px;
  text-align: center;
  padding: 10px;
  width: 80px;
  height: 70px;
  border: none;
}

.center-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-button {
  font-size: 15px;
  height: 30px;
  width: 90px;
}

.center-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}

.level-info {
  width: 30vh;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2.5vh;
  padding: 0 10px;
}

#left-button {
  background: url('../assets/images/arrow.png');
  background-size: 70px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
#right-button {
  background: url('../assets/images/arrow.png');
  background-repeat: no-repeat;
  background-size: 70px;
}
#down-button {
  background: url('../assets/images/arrow.png');
  background-size: 70px;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}
#rotate-button {
  background: url('../assets/images/rotato.png');
  background-size: 70px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu > button {
  width: 100%;
}

#music-buttons, #theme-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#music-buttons > button, #theme-buttons > button {
  font-size: 22px;
}

#volume-control {
  width: 150px;
}

label {
  font-size: 25px;
}

#volume-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#high-scores-list, #scores-container {
  height: 700px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#high-scores-list > button {
  width: 100%;
}

.score-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-row :nth-child(1) {
  width: 35%;
}

.score-row :nth-child(2) {
  text-align: center;
}

.score-row :nth-child(3) {
  width: 40%;
  text-align: end;
}

.header > p {
  font-weight: bold;
  text-decoration: underline;
}

#message-display > button, input {
  font-size: 40px;
  width: 100%;
}

#message-display {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}